<div class="container">
  
    <aside class="sidebar">
        <div class="sidebar-header">
            <a href="{% url 'home' %}"><h2>Bubble Space</h2></a>
        </div>
        <div class="sidebar-content">
            <h3>Workspace</h3>
            <ul>
                <a href="{% url 'team_list' %}"> <li><i class="icon">👥</i> Teams</li></a>
                <a href="{% url 'task_list' %}"><li><i class="icon">📋</i> Tasks</li></a> 
                 <a href="{% url 'notes_list' %}"><li><i class="icon">📘</i> Notes</li></a>
                 <li><i class="icon">📁</i> Projects</li>
                 <a href="{% url 'chat_list' %}"><li><i class="icon">✉️</i> Messages</li></a>
                 <li><i class="icon">❓</i> Help</li>
            </ul>
        </div>
    </aside>

   
    <main class="main-content">
      
        <header class="header">
            <input type="text" class="search-bar" placeholder="Hinted search text">
            <div class="header-icons">
                <span>🔔</span>
                <a href="{% url 'profile' %}"><span>👤</span></a>
                <span>☰</span>
            </div>
        </header>
        
       
    </main> 
</div>
