/* Base Variables */
:root {
    --primary-color: #1e3d58;
    --secondary-color: #4db8b8;
    --background-color: #f5f5f5;
    --text-color: #333;
    --accent-color: #ff7043;
}

/* Sidebar Styling */
aside {
    background-color: var(--primary-color);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    transition: all 0.3s ease;
    z-index: 100;
}

aside:hover {
    width: 300px;
}

aside h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 20px auto;
    text-align: center;
    color: var(--secondary-color);
}

.nav-link {
    color: white;
    font-weight: 500;
    padding: 10px 15px;
    transition: all 0.2s ease;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.nav-link:hover {
    background-color: var(--secondary-color);
    color: white;
}

.nav-link.active {
    background-color: var(--secondary-color);
}

/* Main Content Styling */
#main-content {
    margin-left: 250px;
    padding: 20px;
    background-color: var(--background-color);
    color: var(--text-color);
    margin-bottom: 3%;
    transition: margin-left 0.3s ease;
}

aside:hover ~ #main-content {
    margin-left: 300px;
}

/* Header Styling */
.header {
    background-color: var(--background-color);
    border-bottom: 1px solid #ddd;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 250px;
    width: calc(100% - 250px);
    transition: all 0.3s ease;
}

aside:hover ~ .header {
    left: 300px;
    width: calc(100% - 300px);
}

/* Footer Styling */
footer {
    background-color: var(--background-color);
    border-top: 1px solid #ddd;
    padding: 15px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 250px;
    width: calc(100% - 250px);
    margin-top: 30%;
    transition: all 0.3s ease;
}

aside:hover ~ footer {
    left: 300px;
    width: calc(100% - 300px);
}

/* Responsive Design */
@media (max-width: 768px) {
    aside {
        left: -250px;
    }

    aside.open {
        left: 0;
    }

    #main-content,
    .header {
        margin-left: 0;
        width: 100%;
        margin-bottom: 10%;
    }

    footer {
       
        left: 0;
        width: 100%;
    }
}
