{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/notes_list.css' %}">
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    <title>Notes</title>
</head>
<body>
    {% include "base.html" %}
    
    <div class="main-content">
        <div class="header-row">
            <h1 style="margin-left: 10px;">Notes</h1>
            <div class="button-container" style="margin-right: 10px;">
                <a href="{% url 'add_note' %}" class="btn">Add New Note</a>
            </div>
        </div>
        
        <div class="note-list">
            {% for note in notes %}
                <a href="{% url 'note_detail' note.pk %}" style="text-decoration: none;">
                    <div class="note-item">
                        <div class="note-content">
                            {{ note.title }}
                        </div>
                    </div>
                </a>
            {% empty %}
                <p>No notes available. Click "Add New Note" to create one!</p>
            {% endfor %}
        </div>
    </div>
</body>
</html>
